@font-face {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Lato-Regular'),
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff');
  font-display: swap;  
} 

@font-face {
  font-family: 'Lato-SemiBold', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local('Lato-SemiBold'),
      url('../fonts/Lato-SemiBold.woff2') format('woff2'),
      url('../fonts/Lato-SemiBold.woff') format('woff');
  font-display: swap;  
} 

@font-face {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('Lato-Bold'),
      url('../fonts/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato-Bold.woff') format('woff');
  font-display: swap;  
} 

@font-face {
  font-family: 'Lato-Black', sans-serif;
  font-weight: 900;
  font-style: normal;
  src: local('Lato-Black'),
      url('../fonts/Lato-Black.woff2') format('woff2'),
      url('../fonts/Lato-Black.woff') format('woff');
  font-display: swap;  
} 