$ccc: #cccccc;
$color39: #393939;
$color66: #666666;
$color33: #333333;
$colorf2: #f2f2f2;
$color99: #999999;
$orange: #ffb619;
$white: #fff;
$blue: #1c3e9b;


%lato-400{
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-600{
  font-family: 'Lato-SemiBold', sans-serif;
  font-weight: 600;
}

%lato-700{
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%lato-900{
  font-family: 'Lato-Black', sans-serif;
  font-weight: 900;
}
