@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__top {
    background-color: $header-top;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 17px 0;
    color: $title;
    font-size: 13px;
    line-height: 1.2;
    @extend %lato-700;
  }
  &__list-delivery {
    padding-left: 44px;
    position: relative;
    &::before {
      content: url("../images/delivery-icon.svg");
      position: absolute;
      top: -5px;
      left: 0;
    }
  }
  &__list-hotline {
    padding-left: 34px;
    position: relative;
    &::before {
      content: url("../images/hotline-icon.svg");
      position: absolute;
      top: -5px;
      left: 0;
    }
  }
  &__list-link {
    padding-bottom: 5px;
    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
  &__list-item + .menu__list-item {
    margin-left: 48px;
  }
  &__list-info + .menu__list-info {
    margin-left: 24px;
  }
}
.header__inner {
  background-color: $accent;
  padding: 30px 0;
}
.header__logo {
  margin-right: 10px;
}
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    text-align: center;
    margin-right: 27px;
    color: $title;
    @extend %signika-600;
  }
  &__title-item {
    font-size: 28px;
    line-height: 1.2;
  }
  &__subtitle-item {
    font-size: 12px;
    line-height: 1.25;
  }
  &__catalog {
    max-width: 240px;
    min-width: 240px;
    width: 100%;
    height: 52px;
    color: $accent;
    background-color: $title;
    position: relative;
    border-radius: 7px;
    margin-right: 30px;
  }
  &__catalog-title {
    padding: 0px 25px 0px 45px;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      content: url("../images/menu-icon.svg");
      top: 0;
      left: 0;
    }
    &::after {
      position: absolute;
      content: url("../images/menu-arrowdown.svg");
      top: -5px;
      right: 0;
    }
  }
  &__form {
    display: flex;
    height: 52px;
    max-width: 580px;
    width: 100%;
    margin-right: 45px;
    position: relative;
    &::before {
      content: url("../images/search-icon.svg");
      position: absolute;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 13px;
      z-index: 2;
    }
  }
  &__form-input {
    max-width: 420px;
    width: 100%;
    border-radius: 7px 0px 0px 7px;
    padding: 0 15px 0 50px;
    border: none;
    outline: none;
    @extend %lato-400;
  }
  &__form-btn {
    padding: 15px 52px;
    color: $title;
    background-color: $header-top;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
  }
}
.header-nav {
  display: flex;
  &__list:not(:first-child) {
    margin-left: 30px;
  }
  &__link {
    position: relative;
  }
  &__cart {
    margin-right: 17px;
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $title;
    top: -25px;
    left: -6px;
    font-size: 10px;
    color: $red;
    text-align: center;
    line-height: 20px;
  }
}
.header-slider {
  &__inner {
    padding: 145px 0 220px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    max-height: 600px;
    height: 100%;
    position: relative;
  }
  &__inner-fresh {
    background-image: url("../images/slider-bg1.jpg");
  }
  &__inner-tomato {
    background-image: url("../images/slider-bg2.jpg");
  }
  &__inner-green {
    background-image: url("../images/slider-bg3.jpg");
  }
  &__item {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    font-size: 60px;
    line-height: 1.3;
    padding: 24px;
    margin-bottom: 30px;
    max-width: 890px;
  }
  &__item-title {
    color: $header-top;
  }
  &__item-subtitle {
    padding-bottom: 12px;
    color: $red;
    display: block;
  }
  &__item-subtitle--green {
    padding-bottom: 0;
  }
  &__item-descr {
    font-size: 16px;
    line-height: 1.4;
    color: $silver;
  }
  &__btn {
    background-color: $accent;
    color: $title;
    display: block;
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    @extend %lato-400;
  }
  &__slick-next,
  &__slick-prev {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 3;
  }
  &__slick-prev {
    left: 3%;
  }
  &__slick-next {
    right: 3%;
  }
}

.header-advantages {
  padding: 48px 0;
  background-color: #f6f6f6;
  &__items {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding-left: 75px;
  }
  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__item--delivery {
    position: relative;
    &::before {
      position: absolute;
      content: url("../images/advantages-delivery.svg");
      top: 0;
      left: 0;
    }
  }
  &__item--return {
    position: relative;
    &::before {
      position: absolute;
      content: url("../images/advantages-return.svg");
      top: 0;
      left: 0;
    }
  }
  &__item--support {
    position: relative;
    &::before {
      position: absolute;
      content: url("../images/advantages-support.svg");
      top: 0;
      left: 0;
    }
  }
  &__item-title {
    font-size: 16px;

    color: $default;
    @extend %lato-700;
  }
  &__text {
    padding-top: 7px;
    color: $silver;
    @extend %lato-400;
  }
}
.footer {
  padding: 30px 0 25px 0px;
  background-color: $header-top;
  color: $title;
}
.footer__logo-link {
  margin-right: 15px;
}
.footer-headline {
  display: flex;
  padding-bottom: 30px;
  &__title {
    color: $title;
    display: flex;
    flex-direction: column;
    text-align: center;
    @extend %signika-600;
  }
  &__title-item {
    font-size: 28px;
    line-height: 1.2;
    padding: 7px 0 2px 0;
  }
  &__subtitle-item {
    font-size: 12px;
    line-height: 1.25;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  @extend %lato-400;
  &__item-form {
    max-width: 310px;
    margin-right: 110px;
    line-height: 1;
  }
  &__form-input {
    max-width: 182px;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 7px 0px 0px 7px;
  }
  &__form-btn {
    border: none;
    background-color: $accent;
    color: #fff;
    padding: 13px 10px 13px 14px;
    margin-left: -5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 0px 7px 7px 0px;
    @extend %lato-700;
  }
  &__nav {
    max-width: 132px;
    margin-right: 70px;
  }
  &__news {
    max-width: 75px;
    margin-right: 120px;
  }
  &__contact {
    max-width: 205px;
  }
  &__list-item,
  &__social-item {
    :hover {
      border-bottom: 1px solid $accent;
    }
  }
  &__text,
  &__list-item,
  &__phone,
  &__adress {
    margin-bottom: 18px;
  }
  &__phone,
  &__adress {
    display: block;
  }
  &__social-item {
    padding-right: 12px;
  }
  &__social-list {
    display: flex;
    justify-content: center;
  }
  &__social-link--facebook {
    position: relative;
    padding-right: 4px;
    &::before {
      content: url("../images/facebook.svg");
      top: 0;
      left: 0;
    }
  }
  &__social-link--youtube {
    position: relative;
    &::before {
      content: url("../images/youtube.svg");
      top: 0;
      left: 0;
    }
  }
  &__social-link--telegram {
    position: relative;
    &::before {
      content: url("../images/telegram.svg");
      top: 0;
      left: 0;
    }
  }
  &__social-link--instagram {
    position: relative;
    padding-right: 10px;
    &::before {
      content: url("../images/instagram.svg");
      top: 0;
      left: 0;
    }
  }
}
.footer-line {
  border-bottom: 1px solid $title;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  &__accept {
    display: flex;
  }
  &__accept-item + .footer-bottom__accept-item {
    padding-left: 25px;
  }
}
.products {
  padding: 72px 0 70px;
  align-items: center;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
    padding-bottom: 48px;
  }
}
.products-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.products-item {
  max-width: 300px;
  max-height: 410px;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  padding: 55px 0px 18px;
  position: relative;
  z-index: 10;
  &__link {
    position: absolute;
    right: 18px;
    padding-bottom: 5px;
  }
  &__link--heart {
    top: 18px;
    z-index: 2;
    :hover{
      path{
        fill: $red;
      }
    }
  }
  &__link--cart {
    bottom: 18px;
    :hover{
      rect{
        fill: #ff7a00;
      }
      path{
        fill: $accent;
      }
    }
  }
  &__text {
    display: block;
    padding: 235px 18px 0 18px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    &::before {
      width: 300px;
      height: 225px;
      position: absolute;
      top: 0;
      right:-15px;
    }
  }
  &__text--pineapple {
    &::before {
      content: url("../images/products/pineapple.jpg");
    }
  }
   &__text--lemon {
    &::before {
      content: url("../images/products/lemon.jpg");
    }
  }
  &__text--pitahaya{
    &::before {
      content: url("../images/products/pitahaya.jpg");
    }
  }
  &__text--pepper{
    &::before {
      content: url("../images/products/pepper.jpg");
      right: -25px;
    }
  }
   &__text--carrot{
    &::before {
      content: url("../images/products/carrot.jpg");
      right: -10px;
    }
  }
  &__text--juice{
    &::before {
      content: url("../images/products/juice.jpg");
    }
  }
   &__text--coffee{
    &::before {
      content: url("../images/products/coffee.jpg");
      right: -15px;
    }
  }
  &__text--ketchup{
    &::before {
      content: url("../images/products/ketchup.jpg");
      right: -10px;
    }
  }

  &__price {
    @extend %lato-600;
    padding-left: 18px;
  }
  &__new-price {
    color: $silver;
    position: absolute;
    bottom: 18px;
  }
  &__old-price {
    color: $silver;
    color: #c1c1c1;
    text-decoration: line-through;
    position: absolute;
    bottom: 37px;
  }
    &--new {
    &::after {
      content: "НОВИНКА";
      @extend %lato-700;
      font-size: 10px;
      line-height: 1;
      color: #fff;
      background-color: $accent;
      border-radius: 6px;
      position: absolute;
      top: 12px;
      left: 12px;
      padding: 4px 6px 3px 6px;
    }
  }
  &--sale-30,
  &--sale-50,
  &--new, 
  &--hit{
    &::before{
    font-size: 10px;
    line-height: 1;
    @extend %lato-700;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 4px 6px 3px 6px;
    background-color: #cf3e3b;
  }
}
  &--sale-30 {
    &::before {
      content: "-30%";
    }
  }
  &--sale-50 {
    &::before {
      content: "-50%";
      top: 34px;
    }
  }
  &--hit{
    &::before {
      content: "ХИТ";
      background-color: #ff7a00;
    }
  }
 
}
.mixitup-control-active {
  border-bottom: 3px solid #e0edcf;
}

@import "media";
